<%- include("partials/header") %>
<h1>Sobre Mim</h1>
<p>Oi! Meu nome é Isaac de Souza e eu atualmente estou em processo de graduação na Universidade Federal Fluminense, Niterói, Rio de Janeiro.
    No momento em que escrevo esse post, estou a um mês de comemorar 2 anos desde que entrei nesse mundo da programação. 
    Desde então, venho me decidindo em que área desse ramo eu deveria seguir, e há 6 meses eu conclui que eu me especializaria em Desenvolvimento Back-End!
    Eu sempre tive interesse em saber como a tecnologia de armazenamento de dados funciona, como ela surge e interage com os sites, como os caminhos são redirecionados, é tudo muito interessante, e por isso escolhi esse ramo.
    O desenvolvimento deu um significado a minha vida, até então eu não fazia ideia do que eu queria fazer, eu precisava achar algo que me desse satisfação e desafios novos de maneira constante, e a programação se encaixou como uma luva!
    No momento, sou um mero estudante, mas espero um dia ser capaz de realizar os serviços que você demanda!
</p>
<p>Caso você tenha achado a qualidade do site satisfatória, tenha alguma ideia mas precisa de alguém para desenvolver seu site, sinta-se livre para me contatar. Para mais informações, clique na aba "Contatos" no canto superior direito.</p>
<%- include("partials/footer") %>