<%- include("partials/header") %>
<h1>Contatos</h1>
<ul class="list-group">
    <li class="list-group-item">Email: isaacsms@id.uff.br</li>
    <li class="list-group-item"><a href="https://github.com/NegoPrograma">GitHub</a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/isaac.souza.794">Facebook</a></li>
    <li class="list-group-item"><a href="https://t.me/NegoPrograma">Telegram</a></li>
  </ul>
<%- include("partials/footer") %>